-r docs/requirements.txt
django==4.1.2
black==22.6.0
isort==5.10.1
flake8==6.0.0
pydocstyle==6.1.1
docformatter==1.4
coverage==6.4.3
autoflake==1.4
tox==3.25.1
wheel==0.38.4
setuptools==65.6.3
twine==3.8.0
