{% if chart %}
    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    {% with element_id=chart.get_element_id %}

        <script type="text/javascript">
            (function () {

                // Variables for wrapper, chart and wrapper data
                var wrapper, chart, wrapperOptions = {{ chart.get_chart_wrapper_data_as_json|safe }};

                // Don't need to specify chart libraries!
                google.load('visualization', '1');

                // Draw the charts after the library has been loaded
                google.setOnLoadCallback(drawChart);

                // Execute when chart is ready
                function onReady(wrapper) {
                    chart = wrapper.getChart();
                }

                // Draw the chart and redraw on resize
                function drawChart() {
                    // Draw the chart
                    _drawChart();
                    // Reload on resize, for responsive design
                    if ($) {
                        $(window).resize(_drawChart);
                    }
                }

                // Draw the chart
                function _drawChart() {
                    if (wrapperOptions.dataTable.rows.length) {
                        wrapper = new google.visualization.ChartWrapper(wrapperOptions);
                        // Must wait for the ready event in order to subscribe to events
                        google.visualization.events.addListener(wrapper, 'ready', function () {
                            onReady(wrapper);
                        });
                        // Draw the chart
                        wrapper.draw();
                    }
                }

            })()
        </script>
        <div class="django-charting django-charting-chart" id="{{ element_id }}"></div>
    {% endwith %}
{% endif %}